body{
    background-color: white;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid yellow;
}

h1, h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    font-size: 20px;
}

ul,ol{
    color: green;
}