body{
    background-color: red;
    /* text-align: center; */
    border: 10px solid black;
    padding: 10px;
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 500px 500px;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid yellow;
    margin-right: 30px ;
    display: block;
}

h1, h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px dotted grey;
}

a{
    font-size: 20px;
    border: 2px dotted grey;
}

ul,ol{
    color: green;
    border: 2px dotted grey;
}

@media screen and (max-width: 1000px) {
    body{
        background-color: orange;
    }
    
}
@media screen and (max-width: 600px) {
    body{
        background-color: blue;
    }
    
}